.header_section {
  padding: 95px 0 0;
  position: relative;
  z-index: 22;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/header_img.png");
    width: 550px;
    height: 319px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nav_box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @extend%trans_4;
    z-index: 999;
    .close_box {
      display: none;
      i {
        @extend%trans_4;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 0 30px 0 0;
        &:last-of-type {
          padding: 0 0;
        }
        &.user_icon {
          display: block !important;
        }
        a {
          font-size: 16px;
          color: rgba($min_color, 1);
          font-family: $font_Regular;
          @extend%trans_4;
          &:hover {
            color: rgba($third_color, 1);
          }
        }
      }
    }
  }
  .opne_menu,
  .user_icon {
    display: none;
    i {
      @extend%trans_4;
    }
  }
}

@media (max-width: 1200px) {
  .header_section {
    .nav_box {
      ul {
        li {
          padding: 0 20px 0 0;
        }
      }
    }
  }
}
@media (max-width: 996px) {
  .header_section {
    .mobile_box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .opne_menu {
        display: block;
        margin: 0 0 0 20px;
        i {
          font-size: 24px;
          &:hover {
            color: rgba($third_color, 1);
          }
        }
      }
      .user_icon {
        display: block;
      }
    }
    .nav_box {
      position: fixed;
      top: 0;
      right: -300px;
      height: 100%;
      padding: 120px 40px;
      width: 280px;
      background-color: rgba($min_color, 1);
      display: block;
      .close_box {
        display: block;
        position: absolute;
        top: 40px;
        left: 40px;
        i {
          font-size: 24px;
          color: rgba($white_color, 1);
          &:hover {
            color: rgba($third_color, 1);
          }
        }
      }
      ul {
        display: block;
        text-align: center;
        li {
          padding: 20px 0 0;
          &.user_icon {
            display: none !important;
          }
          &:last-of-type {
            padding: 20px 0 0;
          }
          &.button_li {
            a {
              color: rgba($white_color, 1) !important;
              border-color: rgba($white_color, 1);
            }
          }
          a {
            font-size: 14px;
            color: rgba($white_color, 1);
          }
        }
      }
    }
  }
}

@media (max-width: 772px) {
  .header_section {
    padding: 40px 20px 0;
    &::after {
      width: 281px;
      height: 168px;
    }
  }
}
