.intro_section {
  background-image: url("../img/intro_bak.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 174px;
  .intro_content {
    .intro_title {
      font-size: 60px;
      font-family: $font_bold;
      color: rgba($min_color, 1);
    }
    .prag {
      padding: 20px 0;
    }
  }
}

.whyus_section {
  position: relative;
  z-index: 1;
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/cercel.png");
  }
}

.guarantee_section {
  position: relative;
  z-index: 1;
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 675px;
    height: 787px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/gback.png");
  }
  .guarantee_box {
    border-radius: 5px;
    padding: 30px;
    margin: 20px 0;
    box-shadow: 0;
    text-align: center;
    box-shadow: 0 13px 16px rgba($min_color, 0.2);
    @extend%trans_4;
    background-color: rgba($white_color, 1);
    &:hover {
      transform: translateY(-10px) scale(1.02);
      box-shadow: 0 13px 20px rgba($min_color, 0.4);
    }
    .guarantee_title {
      font-size: 20px;
      color: rgba($min_color, 1);
      font-family: $font_SemiBold;
      padding: 14px 0 0;
    }
  }
  .guarantee_img {
    text-align: end;
  }
}

.qna_section {
  position: relative;
  z-index: 1;
  margin: 213px 0 0;
  &::after {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    top: -173px;
    width: 633px;
    height: 677px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/Why_bg.png");
  }
  .qna_img {
    text-align: end;
    @media (max-width: 992px) {
      & {
        padding: 0 0 30px;
      }
    }
    @media (max-width: 772px) {
      & {
        padding: 0 0 60px;
      }
    }
  }
  .qna_list_box {
    padding: 50px 0 20px;
  }
  .worn_list {
    li {
      position: relative;
      margin: 0 0 20px;
      padding: 0 0 0 30px;
      &:after {
        position: absolute;
        content: "\f071";
        left: 0;
        color: rgba($red_light_color, 1);
        top: 0;
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
      }
    }
  }
}

.icon_section {
  .icon_container {
    box-shadow: 0 13px 18px 3px rgba($min_color, 0.1);
    .icon_box {
      text-align: center;
      padding: 20px;
      margin: 0 0 10px;
      .icon_title {
        width: 80%;
        margin: 0 auto;
        padding: 10px 0 0;
        font-size: 20px;
        font-family: $font_bold;
        color: rgba($min_color, 1);
      }
    }
  }
}

.clients_section {
  .clients_box {
    max-width: 660px;
    margin: 20px 0 0;
    .section_title_box {
      width: 80%;
      @media (max-width: 772px) {
        width: 100%;
      }
    }
  }

  .clients_slider {
    padding: 20px 0 0;
    .circle-arrow {
      z-index: 9999;
      position: absolute;
      bottom: 10px;
      right: 0;
      width: 40px;
      height: 40px;
      border: 1px solid rgba($gray_color2, 1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      background-color: rgba($gray_color2, 1);
      @extend%trans_4;
      i {
        color: rgba($min_color, 1);
      }
      &.slick-disabled {
        background-color: rgba($white_color, 1);
        i {
          color: rgba($gray_color, 1);
        }
      }
      &.slider-left {
        right: 70px;
        &::after {
          content: "";
          right: -17px;
          top: 0;
          width: 2px;
          height: 100%;
          background-color: rgba($gray_color2, 1);
          position: absolute;
        }
      }
    }
    .clients_slider_item {
      width: 62% !important;
      .rate_list {
        display: flex;
        align-items: center;
        li {
          padding: 0 5px 0 0;
          i {
            font-size: 20px;
            color: rgba($gold_color, 1);
          }
        }
      }
      .slider_title {
        padding: 20px 0;
        font-size: 20px;
        font-family: $font_SemiBold;
        color: rgba($min_color, 1);
      }
      .user_slider_box {
        padding: 40px 0 0;
        display: flex;
        align-items: center;
        .user_img {
          padding: 0 40px 0 0;
          img {
            object-fit: contain;
            height: 90px;
            width: 90px;
          }
        }
        .user_name {
          .name {
            margin: 0 0 10px;
            font-size: 18px;
            color: rgba($min_color, 1);
            font-family: $font_bold;
          }
        }
      }
    }
  }
}
.companies_section {
  .companies_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    img {
      padding: 10px;
    }
  }
}

.plan_section {
  padding: 375px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 555;
  background-image: url("../img/Our_plans_bg.png");

  .plan_tap {
    .plan_tap_box {
      justify-content: space-between;
      background-color: rgba($white_color, 1);
      border-radius: 50px;
      overflow: hidden;
      li {
        button {
          border-radius: 50px;
          color: rgba($gray_color, 1);
          font-family: $font_Regular;
          &.active {
            color: rgba($white_color, 1);
            background-color: rgba($sub_color, 1);
          }
        }
      }
    }
  }
  .pakedg_tap_insed {
    display: none;
  }

  .tab-content {
    padding: 40px 0 0;
  }

  .tap_name {
    font-size: 36px;
    font-family: $font_bold;
    color: rgba($min_color, 1);
    padding: 118px 0 20px;
  }
  .ofer_name {
    font-size: 24px;
    font-family: $font_bold;
    color: rgba($white_color, 1);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    background-color: rgba($third_color, 1);
    text-align: center;
  }
  .ofer_title_box {
    text-align: center;
    padding: 20px;
    background-color: rgba($gray_color, 0.05);
    .red_title {
      font-size: 14px;
      font-family: $font_Regular;
      color: rgba($red_light_color, 1);
      text-decoration: line-through;
      margin: 0 0 10px;
      span {
        font-size: 24px;
        font-family: $font_bold;
      }
    }
    .pack_price {
      font-size: 16px;
      font-family: $font_Regular;
      color: rgba($min_color, 1);
      margin: 0 0 10px;
      span {
        display: block;
        font-size: 40px;
        font-family: $font_bold;
      }
    }
    .slog {
      font-size: 16px;
      color: rgba($gray_color, 1);
      font-family: $font_Regular;
    }
  }

  .tap_box_name_white {
    padding: 40px 20px;
    background-color: rgba($white_color, 1);
    height: 84.1%;
    ul {
      li {
        padding: 10px 0;
        .name {
          font-size: 16px;
          color: rgba($gray_color, 0.8);
        }
        .fa-check {
          font-size: 30px;
          color: #4dc079;
        }
        .fa-times {
          font-size: 30px;
          color: #f55767;
        }
      }
    }
  }
  .rate_box {
    ul {
      li {
        .name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .intro_section {
    .intro_content {
      .intro_title {
        font-size: 40px;
      }
    }
  }

  .whyus_section {
    &::after {
      width: 258px;
      height: 318px;
    }
  }

  .plan_section {
    padding: 76px 0;
    .tap_name {
      font-size: 24px;
    }
    .ofer_name {
      font-size: 16px;
    }
  }

  .qna_section {
    margin: 0;
    &::after {
      top: -25px;
      width: 400px;
      height: 408px;
    }
  }
}

@media (max-width: 992px) {
  .intro_section {
    .intro_content {
      .intro_title {
        font-size: 30px;
      }
      .prag {
        padding: 8px 0;
      }
    }
  }

  .whyus_section {
    &::after {
      width: 258px;
      height: 318px;
      bottom: unset;
      top: 200px;
    }
  }
  .guarantee_section {
    .section_content {
      padding: 0 !important;
    }
    &::after {
      display: none;
    }
    .guarantee_img {
      display: none;
    }
  }

  .icon_section {
    .icon_container {
      .icon_box {
        padding: 14px;
        .icon_title {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 772px) {
  .intro_section {
    .intro_content {
      padding: 20px 0;
    }
  }
  .icon_section {
    .icon_container {
      .icon_box {
        padding: 6px;
        .icon_title {
          width: 100%;
          font-size: 14px;
        }
      }
    }
  }
  .qna_section {
    &:after {
      width: 342px;
      height: 352px;
      top: 0;
    }
  }
  .clients_section {
    .clients_slider {
      .clients_slider_item {
        width: 100% !important;
        .user_slider_box {
          .user_img {
            padding: 0 16px 0 0;
            img {
              width: 60px;
              height: 60px;
            }
          }
        }
      }
    }
  }

  .plan_section {
    .p0_0 {
      padding: 0 15px !important;
    }
    .plan_tap {
      .plan_tap_box {
        display: block;
        border-radius: 0;
        background-color: transparent;
        li {
          padding: 10px 0;
          button {
            background-color: rgba($white_color, 1);
            width: 100%;
          }
        }
      }
    }

    .pakedg_tap_insed {
      display: block;
      padding: 0 20px 30px;
      .nav-tabs {
        border: 0;
        justify-content: space-between;
        align-content: center;

        .nav-link {
          border: 0;
          background-color: transparent;
          padding: 0 0 0 30px;
          position: relative;
          font-size: 14px;
          font-family: $font_SemiBold;
          color: rgba($gray_color, 1);
          &::after,
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba($white_color, 1);
            left: 0;
            z-index: 11;
          }
          &::after {
            width: 12px;
            height: 12px;
            background-color: rgba($min_color, 1);
            opacity: 0;
            left: 4px;
            transition: 0.4s all ease-in-out;
          }
          &.active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }

    .pakeg_min,
    .ofer_name,
    .pakeg1_tap {
      display: none;
    }

    .pakeg1_tap {
      &.active {
        display: block;
      }
    }
    .ofer_title_box {
      text-align: start;
      .pack_price {
        span {
          display: inline;
        }
      }
      .pakeg_price_2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .rate_box {
      ul {
        li {
          display: flex;
          justify-content: space-between;
          .name {
            display: block;
            font-size: 14px;
          }
          .fa-times,
          .fa-check {
            font-size: 20px;
          }
        }
      }
      .button_box {
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 500px) {
  .whyus_section {
    &::after {
      width: 167px;
      height: 242px;
      bottom: unset;
      top: 269px;
    }
  }
  .guarantee_section {
    .guarantee_box {
      .guarantee_title {
        font-size: 14px;
      }
    }
  }
}
