$font_bold: Poppins-Bold;
$font_SemiBold: Poppins-SemiBold;
$font_Light: Poppins-Light;
$font_Medium: Poppins-Medium;
$font_Regular: Poppins-Regular;

$white_color:#fff;
$min_color:#242f51;
$min_dark_color:#09142e;
$sub_color:#2500f9;
$third_color:#ffaa08;
$gold_color:#ffcc00;
$gray_color:#616368;
$gray_color2:#eff3f8;
$red_light_color:#f55767;
$sky_light_color:#ecf9ff;
